{{#each this}}
  <div class='card'>
    <div class='wrapper'>
      <a
        href='https://www.themoviedb.org/{{media_type}}/{{id}}'
        class='image'
        title='{{title}}'
      >
        <img
          loading='lazy'
          class='poster'
          src='https://image.tmdb.org/t/p/original{{poster_path}}'
        /></a>
      {{!-- <div>backdrop_path:{{backdrop_path}}</div>
      <div>budget:{{budget}}</div>
      <div>
       {{#each genres}}       
          genres:{{this}}
       {{/each}}
      <div>backdrop_path:{{backdrop_path}}</div> --}}
    </div>
  </div>
  {{!-- <div class='photo-card'>
    <a class='gallery__item' href='{{largeImageURL}}'>
      <img
        class='gallery__image'
        src='{{backdrop_path}}'
        alt='{{title}}'
        loading='lazy'
      />
    </a>
    <div class='info'>
      <p class='info-item'>
        <b>Title</b>{{title}}
      </p>
      <p class='info-item'>
        <b>Views</b>{{views}}
      </p>
      <p class='info-item'>
        <b>Comments</b>{{comments}}
      </p>
      <p class='info-item'>
        <b>Downloads</b>{{downloads}}
      </p>
    </div>
  </div> --}}

{{/each}}